@tailwind base;
@tailwind components;
@tailwind utilities;

.global {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1024px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.min-h-1 {
    min-height: 60%;
}

.min-h-2 {
    min-height: 350px;
}

.min-h-header {
    min-height: 90px;
}

.min-h-home {
    min-height: calc(100vh - 292px);
}

.min-h-footer {
    min-height: 200px;
}

.min-w-select {
    min-width: 60%;
}

.min-h-not {
    min-height: calc(100vh - 292px);
}